body {
  background: #e43a6a;
  color: #fff;
  font-family: 'ff-dagny-web-pro', 'Helvetica Neue', Helvetica, sans-serif, sans-serif;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1#app-name {
  font-size: 4em;
  margin: 0;
  font-weight: 700;
}

h2#deployed-at {
  color: #6e1730;
  font-weight: 400;
}
